body{
    background-color:  hsl(0, 0%, 95%);
    display: flex;
    font-size: 15px;
}

div.container {
    display: flex;
    align-items: center;
    min-height: 90vh;
    justify-items: center;
}


div.row{
    width: 1440px;
}

div.col-md-4{
    padding: 20px;
}

div.col-md-4 *{
    margin-left: 30px;
}

div h1{
    margin-top: 10px;
    font-family: 'Big Shoulders Display', cursive;

}

div.col-md-4 p{
    width: 250px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 50px;
    font-family: 'Lexend Deca', sans-serif;
}

div.col-md-4 h1{
    color: hsl(0, 0%, 95%);
}

div.col-md-4:nth-child(1){
    height: 450px;
    background-color:hsl(31, 77%, 52%);
}

div.col-md-4:nth-child(2){
    height: 450px;

    background-color:hsl(184, 100%, 22%);
}

div.col-md-4:nth-child(3){
    height: 450px;

    background-color: hsl(179, 100%, 13%);
}

button{
    background-color: hsl(0, 0%, 95%);
    margin-top: 90px;
    
}

button:hover{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

button:nth-child(1){
    color:hsl(31, 77%, 52%);
}

button:nth-child(2){
    color:hsl(184, 100%, 22%);
}

button:nth-child(3){
    color:hsl(179, 100%, 13%);
}

/*---------------------fonts----------------------*/

/* vietnamese */
@font-face {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 400;
    src: url(BigShouldersDisplay-Bold.ttf) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 400;
    src: url(BigShouldersDisplay-Bold.ttf) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 400;
    src: url(BigShouldersDisplay-Bold.ttf) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



  /* vietnamese */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url(LexendDeca-Regular.ttf) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url(LexendDeca-Regular.ttf) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url(LexendDeca-Regular.ttf) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }